{
  "openapi": "3.1.0",
  "info": {
    "title": "Lumafare public article lookup",
    "version": "1.0.0",
    "description": "Read-only search and retrieval of published articles."
  },
  "servers": [
    {
      "url": "https://lumafare.com"
    }
  ],
  "paths": {
    "/api/agent/articles": {
      "get": {
        "operationId": "searchOrReadArticles",
        "summary": "Search published articles or read one by exact slug",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search text; omit or leave empty for no results.",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Exact published article slug. Takes precedence over q.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of search results.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results or one article record.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SearchResponse"
                    },
                    {
                      "$ref": "#/components/schemas/Article"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid slug or query length. **No article data is changed.**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Article slug not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Article": {
        "type": "object",
        "required": [
          "slug",
          "title",
          "description",
          "date",
          "sources",
          "url",
          "body"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "question": {
            "type": [
              "string",
              "null"
            ]
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "required": [
          "query",
          "count",
          "results"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "slug",
                "title",
                "description",
                "url",
                "published"
              ],
              "properties": {
                "slug": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "question": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "source_url": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uri"
                },
                "published": {
                  "type": "string",
                  "format": "date"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "max_length": {
            "type": "integer"
          }
        }
      }
    }
  }
}
